<!DOCTYPE html>
<html>
<head>
    <title>{{ merchant | lower }} receipt</title>

    <title>add transaction</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- delete icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap" rel="stylesheet">
    
    <!-- own css -->
    <link rel="stylesheet" href="/static/receipt.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

</head>
<body>
    <div class="page-header"><span id="logo">budgeteer</span></div>
    <div class="page-body">
        <h1>Trans<span class="popout">action</span> Summary</h1>
        <div class="transaction-header">
            <div>
                <div class="autocomplete">
                    <input enterkeyhint="enter" type="text" name="merchant" value="{{ merchant }}" disabled/>
                </div>  
            </div>
            <div>
                <input enterkeyhint="enter" type="date" name="date" value="{{ date }}" disabled>
            </div>
        </div>
        <br>
        <div id="mode1">
            <table id="transaction-table" class="table-scroll">
                <thead>
                    <tr>
                        <th style="width:37%">Product</th>
                        <th style="width:37%">Category</th>
                        <th style="width:15%">Price</th>
                        <th class="remove-holder" style="width:4%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="swipe">
                        <td>
                            <div class="autocomplete">
                                <input enterkeyhint="enter"type="text" class="product-name" name="product_name[]" placeholder="product"/>
                            </div>        
                        <td>
                            <div class="autocomplete">
                                <input enterkeyhint="enter" type="text" class="cat" name="cat[]" placeholder="category"/>
                            </div>
                        </td>
                        <td class="remove-adjacent">
                            <input enterkeyhint="enter" type="number" class="total-price" name="total_price[]" step=".01" placeholder="0.00">
                        </td>
                        <td class="remove-holder">
                            <button class="remove">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot id="total-section">
                    <tr style="padding:0;">
                        <td colspan="4" style="padding:0;">
                            <hr class="add-row-btn">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;"><strong>Product Count:</strong></td>
                        <td><span id="total-items">0</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;"><strong>Total:</strong></td>
                        <td><span id="total-amount">$0.00</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <a href="./add_transaction">Add Another</a>
</body>
</html>